@{
    ViewData["Title"] = "Статистика";
}

<link rel="stylesheet" href="~/css/blocks_items.css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        @Html.ActionLink("SomeUser", "Details", "Stat", new { id = "0b9c2cba-836d-3f7d-81a5-3b589a890a56", name = "SomeUser" })
    </p>
    <p>
        @Html.ActionLink("OtherUser", "Details", "Stat", new { id = "0b945540-e168-3c20-9b27-3427099d8c95", name = "OtherUser" })
    </p>

</div>
