@using Newtonsoft.Json.Linq
@model JObject

@{
    ViewData["Title"] = "Статистика";
}

<link rel="stylesheet" href="~/css/blocks_items.css" />

<div class="text-center">
    <h1 class="display-4">Статистика @ViewBag.UserName</h1>

    <h2>Подобрано</h2>

    <div>
        @{
            var i = ((JObject)Model["stats"]["minecraft:picked_up"]).Property("minecraft:diamond");
            <span class="item item_264 item_264_0"></span> <span>@i.Value</span>
        }
    </div>
</div>
