@using Newtonsoft.Json.Linq
@model JObject

@{
var iPickDiamond = ((JObject)Model["stats"]["minecraft:picked_up"]).Property("minecraft:diamond");
var iDroppedDiamond = ((JObject)Model["stats"]["minecraft:dropped"]).Property("minecraft:diamond");
var iPickIron = ((JObject)Model["stats"]["minecraft:picked_up"]).Property("minecraft:iron_ingot");
var iDroppedIron = ((JObject)Model["stats"]["minecraft:dropped"]).Property("minecraft:iron_ingot");

var iDestroyStone = ((JObject)Model["stats"]["minecraft:mined"]).Property("minecraft:stone");
var iDestroyIron = ((JObject)Model["stats"]["minecraft:mined"]).Property("minecraft:iron_ore");

var KillMob = ((JObject)Model["stats"]["minecraft:custom"]).Property("minecraft:mob_kills");
var PlayerKill = ((JObject)Model["stats"]["minecraft:custom"]).Property("minecraft:player_kills");
var deaths = ((JObject)Model["stats"]["minecraft:custom"]).Property("minecraft:deaths");
var PlayTime = ((JObject)Model["stats"]["minecraft:custom"]).Property("minecraft:play_one_minute");
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-10">
			<div class="card bg-light mb-3">
				<div class="card-header"><h5>Основная</h5></div>
				<div class="card-body">
					<div class="row justify-content-start">
						<div class="col col-auto">
							<h6>Время в игре <span class="badge badge-secondary">@PlayTime?.Value</span> мин.</h6>
						</div>
						<div class="col col-auto">
							<h6>Смертей <span class="badge badge-secondary">@deaths?.Value</span></h6>
						</div>
						<div class="col col-auto">
							<h6>Убил игроков <span class="badge badge-secondary">@PlayerKill?.Value</span></h6>
						</div>
						<div class="col col-auto">
							<h6>Убил мобов <span class="badge badge-secondary">@KillMob?.Value</span></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card bg-light mb-3" style="max-width: 30rem;">
				<div class="card-header"><h5>Предметы</h5></div>
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Предмет</th>
								<th scope="col">Подобрал</th>
								<th scope="col">Выбросил</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<abbr title="Алмаз"><span class="item diamond img-thumbnail"></span></abbr>
								</td>
								<td>@iPickDiamond?.Value</td>
								<td>@iDroppedDiamond?.Value</td>
							</tr>
							<tr>
								<td>
									<abbr title="Слиток железа"><span class="item iron_ingot img-thumbnail"></span></abbr>
								</td>
								<td>@iPickIron?.Value</td>
								<td>@iDroppedIron?.Value</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="card bg-light mb-3" style="max-width: 20rem;">
				<div class="card-header"><h5>Блоки</h5></div>
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Блок</th>
								<th scope="col">Выкопал</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<abbr title="Камень"><span class="item stone img-thumbnail"></span></abbr>
								</td>
								<td>@iDestroyStone?.Value</td>
							</tr>
							<tr>
								<td>
									<abbr title="Железная руда"><span class="item iron_ore img-thumbnail"></span></abbr>
								</td>
								<td>@iDestroyIron?.Value</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
}
